@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.AceptPais {
	background: url(../images/DbAcept.ico) !important;
	height: 16px;
	width: 16px;
}

.CancelPais {
	background: url(../images/DbCancel.ico) !important;
	height: 16px;
	width: 16px;
}

.insertPais {
	background: url(../images/DbInsert.ico) !important;
	height: 16px;
	width: 16px;
}

.updatePais {
	background: url(../images/DbEdit.ico) !important;
	height: 16px;
	width: 16px;
}

.deletePais {
	background: url(../images/DbDelete.ico) !important;
	height: 16px;
	width: 16px;
}

.goHome {
	background: url(../images/DbHome.ico) !important;
	height: 16px;
	width: 16px;
}

.goFirstPais {
	background: url(../images/DbFirst.ico) !important;
	height: 16px;
	width: 16px;
}

.goPriorPais {
	background: url(../images/DbPrior.ico) !important;
	height: 16px;
	width: 16px;
}

.goNextPais {
	background: url(../images/DbNext.ico) !important;
	height: 16px;
	width: 16px;
}

.goLastPais {
	background: url(../images/DbLast.ico) !important;
	height: 16px;
	width: 16px;
}